body {
  //background-color: #e1e1e1;
}
.mobileAds {
  max-height: 480px;
  max-width: 320px;
  //overflow: hidden;
  //background: #fff;

  .slogan {
    text-align: center;
    font-size: 16px;
    color: #2b3758;
    margin: 0;
  }
}

.NumPreview {
  text-align: center;
  font-size: 20px;
  min-height: 33px;
  border: 1px solid #00c7cd;
  border-radius: 100px;
  margin-bottom: 3px;
  color: #2b3758;
  position: relative;


  .removeButton {


    position: absolute;
    right: 6px;
    margin: 6px;
    width: 23px;

  }

}


.Numpad {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 290px;
  margin: 0 auto;
  padding: 0 33px;

  .numWrap {
    width: 33%;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2b3758;
    .nums {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #00c7cd;
      //background: #e5e5e5;
      border-radius: 50%;
      flex-direction: column;
      font-size: 30px;
      width: 2em;
      height: 2em;

      h1 {
        margin: 0;
        line-height: 1em;
        font-size: 25px;
      }

      h6 {
        margin: 0;
        line-height: 1.5em;
        font-size: 12px;
        letter-spacing: 2px;
      }

      -webkit-transition: all 70ms ease;
      -moz-transition: all 70ms ease;
      -ms-transition: all 70ms ease;
      -o-transition: all 70ms ease;
      transition: all 70ms ease;

      &.active {
        background: #00c7cd;
        color: #fff;
      }
    }
  }
}

.actionButton {
  background-color: #00c7cd !important;
  border-color: #00c7cd !important;

  &:focus,&:active,&:hover {

    background-color: #00bac0 !important;
    border-color: #00bac0 !important;
  }
}

.deleteButton {
  height: 40px;
  padding: 8px;
}

.imgContainer {

  margin-top: 5px;
  text-align: center;

  img {
    max-width: 80%;
  }
}
